<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .popular {
            color: green;
            font-weight: 600;
        }
    </style>
    <link rel="stylesheet" href="/modules/bootstrap/dist/css/bootstrap.min.css" crossorigin="anonymous">
</head>

<body>
    @if (IsSectionDefined("MessageBox"))
    {
        @RenderSection("MessageBox")
    }
    else
    {
        <div class="alert alert-primary text-center m-0">Welcome !</div>
    }


    @await Html.PartialAsync("_navbar")
    <partial name="_header">

        <main>
            <div class="container">
                @if (IsSectionDefined("Categories"))
                {
                    <div class="row">
                        <div class="col-md-3">
                            @RenderSection("Categories",false)
                        </div>
                        <div class="col-md-9">
                            @RenderBody()
                        </div>
                    </div>
                }
                else
                {

                    <div class="row">

                        <div class="col-md-12">
                            @RenderBody()
                        </div>
                    </div>
                }

            </div>
        </main>


        @RenderSection("Scripts",false)

</body>

</html>